/* Utilities */
body {
  font-family: 'Raleway' sans-serif;
}

h1,
h2,
h3 {
  font-family: 'Open Sans' sans-serif;
}

a {
  text-decoration: none !important;
}

/* Header Component */

.navbar-dark {
  background-color: #00275a;
}
.nav-item {
  text-transform: uppercase;
  padding: 0 20px;
}

.navbar-brand {
  padding: 0;
}

/* Showcase Component */
#showcase {
  position: relative;
  background: linear-gradient(
    180deg,
    rgba(225, 199, 130, 1) 0%,
    rgba(214, 192, 130, 1) 5%,
    rgba(126, 135, 131, 1) 25%,
    rgba(61, 93, 132, 1) 50%,
    rgba(17, 64, 132, 1) 75%,
    rgba(17, 64, 132, 1) 93%
  );
  height: 95vh;
  color: #fff;
  text-align: center;
  overflow: hidden;
}
#showcase svg {
  display: block;
}

#showcase-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button {
  font-size: 1.5rem;
  padding: 10px 40px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

.button-primary {
  color: #00275a;
  background-color: rgba(225, 199, 130, 1);
  text-transform: uppercase;
}

.button-primary:hover {
  color: rgba(225, 199, 130, 1);
  background: #00275a;
}

.button-outline-secondary {
  border: 2px solid rgba(225, 199, 130, 1);
  background-color: none;
  color: rgba(225, 199, 130, 1);
  text-transform: uppercase;
}

.button-outline-secondary:hover {
  color: #00275a;
  background-color: rgba(225, 199, 130, 1);
}
